*,*::before,*::after{
    box-sizing: border-box;
}

:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}

body{
    padding-top:10em;
    background-color: var(--Dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 55vw bottom 5vh, left 45vw top 49vh;
}

.wrapper{
    width: 350px;
}
.blueTop{
    width: 100%;
    height: 10em;
    background: url(./images/bg-pattern-card.svg);
    border-radius: 10px 10px 0px 0px;
}

.white-content{
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Kumbh Sans', sans-serif;
}
img{
    margin-top:-3rem;
    border-radius: 50%;
    border: 3px solid white;
}
h1{
    font-size: 25px;
    color: var(--Very-dark-desaturated-blue);
}
.Numb{
    color: var(--Dark-gray);
}
h2{
    margin-top: -1rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 50;
    color: var(--Dark-grayish-blue);
}
ul{
    display: flex;
    list-style: none;
    padding: 1.7rem;
    width: 100%;
    border-top: 0.1px solid rgb(241, 239, 239);
    border-left: none;
    border-right: none;
    border-bottom: none;
    justify-content:space-around;
}
li{
    font-size: 25px; 
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
.records{
    font-size: 16px;
    font-weight: 50;
    letter-spacing: 2px;
    color: var(--Dark-gray);
}
a{
    text-decoration: none;
    color:white;
}